

#banner {
	overflow: hidden;
	border: 1px solid #9c9c9c;
	width: 160px;
	height: 600px;
	position: relative;
}

h1, h2, h4, h5, h6, p, a, button {
	font-family: "futura-pt";
	font-weight: 700;
	color: #444e56;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 19px;
	font-weight: 400;
	line-height: 1.1;
	position: absolute;
	top: 0px;
	width: 160px;
	text-align: center;
}

.nine {
	color: #c2ac8e;
}

h2 {
	font-size: 21px;
	position: absolute;
	top: 460px;
	width: 160px;
	text-align: center;
	margin: 0;
	line-height: 1.1;
}

.asterisk {
	font-weight: 500;
	display: inline-block;
	transform: scale(.65) translate(-4px, -3px);
}

#amount {
	font-size: 38px;
	position: relative;
	bottom: -3px;
}

#amount-kern {
	letter-spacing: -1px;
}

.second-line {
	margin-left: 9px;
}

h3 {
	font-family: "futura-pt-condensed";
	font-weight: 500;
	font-size: 8px;

	position: absolute;
	bottom: 6px;
	width: 160px;
	text-align: center;
	margin: 0;
	margin-left: -2px;
	letter-spacing: .6px;
}

.big-box-person {
	position: absolute;
	width: 110px;
	left: 24px;
	top: 70px;
}

.animated-logo {
	position: absolute;
	left: 19px;
	top: 548px;
	width: 120px;
}

button {
	position: absolute;
	left: 15px;
	top: 518px;

	width: 128px;
	height: 24px;
	padding: 0px;
	
	background-color: #c2ac8e;
	border: none;

	-webkit-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.6), inset 0px 1px 1px 0px rgba(255,255,255,0.8);
	-moz-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.6), inset 0px 1px 1px 0px rgba(255,255,255,0.8);
	box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.6), inset 0px 1px 1px 0px rgba(255,255,255,0.8);
	
	font-size: 13px;
	letter-spacing: 1.2px;
	color: #fff;

/*	border-top-color: #d3c4ae;
	border-right-color: #bfa98b;
	border-bottom-color: #9b8972;
	border-left-color: #a6947c;*/
}




#head-stage, #top-stage, #legs-stage {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}

#head {
	position: absolute;
	top: 50px;
	left: -60px;
	height: 84px;
	width: 140px;
	/*background: #fc0;*/

	-webkit-animation: spinner 8s infinite ease-in-out 1.88s;
	animation: spinner 8s infinite ease-in-out 1.88s;

	-webkit-transform-origin: 70px 0 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#top {
	position: absolute;
	top: 139px;
	left: -60px;
	height: 120px;
	width: 140px;
	/*background: #0c0;*/

	-webkit-animation: spinner 8s infinite ease-in-out 1s;
	animation: spinner 8s infinite ease-in-out 1s;

	-webkit-transform-origin: 70px 0 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#legs {
	position: absolute;
	top: 257px;
	left: -60px;
	height: 120px;
	width: 140px;
	
	-webkit-animation: spinner 8s infinite ease-in-out 2.78s;
	animation: spinner 8s infinite ease-in-out 2.78s;

	-webkit-transform-origin: 70px 0 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


#head div, #top div, #legs div {
	width: 149px;
	position: absolute;
	-webkit-backface-visibility: hidden;
}

#head div {
	height: 84px;
}

#top div {
	height: 112px;
}

#legs div {
	height: 205px;
}


#head-one	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/head-1.jpg');
	-webkit-transform: rotateY(0deg) translateX(70px);
}

#head-two	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/head-2.jpg');
	-webkit-transform: rotateY(-120deg) translateX(70px);
}

#head-three	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/head-3.jpg');
	-webkit-transform: rotateY(-240deg) translateX(70px);
}

#top-one	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/top-1.jpg');
	-webkit-transform: rotateY(0deg) translateX(70px);
}

#top-two	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/top-2.jpg');
	-webkit-transform: rotateY(-120deg) translateX(70px);
}

#top-three	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/Top-3.jpg');
	-webkit-transform: rotateY(-240deg) translateX(70px);
}

#legs-one	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/legs-1.jpg');
	-webkit-transform: rotateY(0deg) translateX(70px);
}

#legs-two	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/legs-2.jpg');
	-webkit-transform: rotateY(-120deg) translateX(70px);
}

#legs-three	{
	background-image: url('https://dl.dropboxusercontent.com/u/41091972/legs-3.jpg');
	-webkit-transform: rotateY(-240deg) translateX(70px);
}



/*@-webkit-keyframes head-spinner {
	from { -webkit-transform: rotateY(0deg);    }
	to   { -webkit-transform: rotateY(-120deg); }
}*/


@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotateY(0deg);
	}

	4.16% {
		-webkit-transform: rotateY(-120deg);
	}

	33.33% {
		-webkit-transform: rotateY(-120deg);
	}

	37.5% {
		-webkit-transform: rotateY(-240deg);
	}

	66.67% {
		-webkit-transform: rotateY(-240deg);
	}

	70.83% {
		-webkit-transform: rotateY(-360deg);
	}
	
	100% {
		-webkit-transform: rotateY(-360deg);
	}
}

/* all other browsers */
@keyframes spinner {
	0% {
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}

	4.16% {
		-moz-transform: rotateY(-120deg);
		-ms-transform: rotateY(-120deg);
		transform: rotateY(-120deg);
	}

	33.33% {
		-moz-transform: rotateY(-120deg);
		-ms-transform: rotateY(-120deg);
		transform: rotateY(-120deg);
	}

	37.5% {
		-moz-transform: rotateY(-240deg);
		-ms-transform: rotateY(-240deg);
		transform: rotateY(-240deg);
	}

	66.67% {
		-moz-transform: rotateY(-240deg);
		-ms-transform: rotateY(-240deg);
		transform: rotateY(-240deg);
	}

	70.83% {
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
	
	100% {
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
